# vim:ft=gitconfig ts=2 sw=2 sts=2
[user]
  email = 
  name = 

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[rebase]
	autoStash = true

# reminds conflict resolution so you don't solve the same conflict again
[rerere]
	enabled = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
